block append css
  link(rel="stylesheet", href="/stylesheets/query.css")
block append js
  script(src="/js/query.js")

.dropdown(class="selType")
    button(class="btn btn-secondary dropdown-toggle",type="button",id="typeSelBtn",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") 現在有開什麼課
    .dropdown-menu(aria-labelledby="dropdownMenuButton")
        each item in classList
            a(class="dropdown-item",data-code=item.code)= item.text
.dropdown(class="selTarget")
    button(class="btn btn-secondary dropdown-toggle",type="button",id="targetSelBtn",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") 全部班級
    .dropdown-menu(aria-labelledby="dropdownMenuButton")
    i(class="fas fa-sync-alt fa-spin fa-lg loading")
.result
    .resultCard(class="first")
        //i(class="fas fa-exclamation-triangle")
        i(class="fas fa-info-circle")
        p 上方選單可以查這學期有開的課哦