extends layout

block css
  link(rel="stylesheet", href="/stylesheets/index.css")

block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.7.0/svg.min.js")
  script(src="/js/index.js")

block content
  #timeline
  .query
    include _query.pug    