extends layout

block css
  link(rel="stylesheet", href="/stylesheets/index.css")
  link(rel="stylesheet", href="/stylesheets/query.css")
block js
  script(src="/js/query.js")

block content
  ul.timeline
    - 
      var list = [
        {date:'1/28', title: '第一階段開始'},
        {date:'2/1', title: '第一階段結束'},
        {date:'2/11', title: '第二階段開始'},
        {date:'2/15', title: '第二階段結束'},
        {date:'2/18', title: '加退選開始'},
        {date:'2/28', title: '加退選結束'},
      ]
    each item in list
      li
        .info
          .date= item.date
          .title= item.title
  .query
    include query.pug    