doctype html
html
  head
    //Mobile optimize
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="apple-touch-startup-image",href="/icon-192x192.png")
    meta(name="mobile-web-app-capable", content="yes")
    link(rel="manifest", href="/manifest.json")

    //SEO
    meta(charset="UTF-8")
    meta(name="description", content="一個幫助高雄大學的學生選課的小精靈")

    //Open Graph data
    meta(property="og:title", content="選課小精靈 - 用更舒服的方式來選課吧")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://courself.herokuapp.com/")
    meta(property="og:description", content="你的眼睛值得更好的對待")
    meta(property="og:site_name", content="NUK選課小精靈")
    //Only absolute path works
    meta(property="og:image", content="https://courself.herokuapp.com/img/icon-250x250.png")

    //Favicon
    link(rel="apple-touch-icon",sizes="57x57",href="/img/apple-icon-57x57.png")
    link(rel="apple-touch-icon",sizes="60x60",href="/img/apple-icon-60x60.png")
    link(rel="apple-touch-icon",sizes="72x72",href="/img/apple-icon-72x72.png")
    link(rel="apple-touch-icon",sizes="76x76",href="/img/apple-icon-76x76.png")
    link(rel="apple-touch-icon",sizes="114x114",href="/img/apple-icon-114x114.png")
    link(rel="apple-touch-icon",sizes="120x120",href="/img/apple-icon-120x120.png")
    link(rel="apple-touch-icon",sizes="144x144",href="/img/apple-icon-144x144.png")
    link(rel="apple-touch-icon",sizes="152x152",href="/img/apple-icon-152x152.png")
    link(rel="apple-touch-icon",sizes="180x180",href="/img/apple-icon-180x180.png")
    link(rel="icon",type="image/png",sizes="192x192" ,href="/img/android-icon-192x192.png")
    link(rel="icon",type="image/png",sizes="32x32",href="/img/favicon-32x32.png")
    link(rel="icon",type="image/png",sizes="96x96",href="/img/favicon-96x96.png")
    link(rel="icon",type="image/png",sizes="16x16",href="/img/favicon-16x16.png")
    meta(name="msapplication-config", content="/browserconfig.xml")
    meta(name="msapplication-TileColor",content="#fafafa")
    meta(name="msapplication-TileImage",content="/img/ms-icon-144x144.png")
    meta(name="theme-color",content="#fafafa")

    title= title 
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Righteous|VT323")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js")
    include _ga.pug
    block css
  body
    .titleBar
      h1
        i(class="fas fa-hat-wizard")
        | NUK選課小精靈
      .burger
        i(class="fas fa-bars")
      nav
        a.allCourses(href="/query") 所有課程
          i(class="far fa-list-alt")
        if loggedin
          a.myCourse(href="/users/mycourse") 我的學分
            i(class="fas fa-graduation-cap")
          a.logout(href="/users/logout") 登出
            i(class="fas fa-sign-out-alt")
        else
          a.login(href="/users/login") 登入
            i(class="fas fa-sign-in-alt")
    .content
      block content
    footer
      a.author(href="https://github.com/ifTNT") FrontEnd:ifTNT
      a(href="https://github.com/NUKCSIE110")
        i(class="fab fa-github")
        | NUKCSIE110
      a.author(href="https://github.com/kaibaooo") BackEnd:kaibao
    script(src='/js/layout.js')
    block js