doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans+TC')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')

    block css
  body
    .titleBar
      h1
        i(class="fas fa-hat-wizard")
        | NUK選課小精靈
      .burger
        i(class="fas fa-bars")
      nav
        a 所有課程
        if loggedin
          a 我的課表
            i(class="fas fa-graduation-cap")
          a 登出
            i(class="fas fa-sign-out-alt")
        else
          a 登入
            i(class="fas fa-sign-in-alt")
    block content
    script(src='js/layout.js')
    block js