extends layout

block css
    link(rel="stylesheet", href="/stylesheets/login.css")

block js
    script(src="/js/login.js")

block content
    form.loginform
        .form-group
            label(for="sid") 帳號
            input(type="text",class="form-control",id="sid",placeholder="你ㄉ學號")
        .form-group
            label(for="pw") 密碼
            input(type="email",class="form-control",id="pw",aria-describedby="noleak",placeholder="e平臺ㄉ密碼")
            small(id="noleak",class="form-text text-muted") 我們對你的密碼沒興趣，所以我們不會儲存他 :D
        button(type="submit",class="btn btn-primary") 開始爬課
        button(type="button",class="btn btn-secondary" disabled) 付費開啓DLC
