.content
    //display: flex
    width: 90vw
    //justify-content: space-around
    //align-items: center

ul.timeline 
    position: fixed
    top: 10em
    left: 19vw
    width: 10em
    height: 20em
    //margin-left: 10em
    font-size: 1.5em;
    border-left: solid 2px black
    display: flex
    flex-direction: column
    justify-content: space-around
    li 
        display: flex
        align-items: center
        text-align: center
        position: relative
        .info
            box-sizing: border-box
            padding: 0 1em
            .date
                margin-bottom: 0.5em
        &:nth-child(odd)::after,
        &:nth-child(even)::before
            content: ''
            display: block
            box-sizing: border-box
            width: 1em
            height: 1em
            border-radius: 50%
            border: solid 0.25em black
            background-color: #fafafa
            box-shadow: 0.125em 0.125em 0.25em 0em rgba(0,0,0,0.3)
        &:nth-child(odd)
            justify-content flex-end
            left: -9.5em
        &:nth-child(even)
            justify-content flex-start
            left: -0.5em

.titleBar a.allCourses
    display: none

@media (max-width: 1350px)
    .content
        justify-content: center


@media (max-width: 1100px)
    .titleBar a.allCourses
        display: block
    .content
        width: 800px
        display: flex
        justify-content: space-around
        align-items: center
    ul.timeline 
        position: static
        margin-left: 10em
    .query
        display: none

@media (max-width: 550px)
    ul.timeline 
        font-size: 4.75vw
        