.loginform
    max-width: 22em
    padding: 1em;
    box-sizing: border-box
    margin: 20vh auto 0 auto

.btn
    width: 100%
    letter-spacing: 0.1em
    margin: 2em auto 0 auto
    display: block
    
#submit
    .loading
        margin-left: 1em
        animation: flip 1s ease-in-out infinite alternate

.btn-primary
    background: steelblue
    border: solid 1px steelblue
    &:hover, &:disabled
        background: lighten(#4682b4, 10)
        border: solid 1px lighten(#4682b4, 10)

@media(max-width: 350px){
    small{
        font-size: 0.7em
    }    
}

@keyframes flip
    0%
        transform: scaleX(1)
    100%
        transform: scaleX(-1)