.content
    padding-top: 10vh;
.doneCourse
    li
        &>p
            margin: 1em 0
        ul,div
            margin-left: 1em
        div
            display: flex
            justify-content: space-between