.content
    padding-top: 10vh;
    
.cardCraft
    color: #212529;
    min-height: 5em
    margin: 1.5em 0 1em 0
    width: 100%
    background-color: white
    transition: all 1s
    box-shadow: 0.25em 0.25em 0.5em 0em rgba(0,0,0,0.5)
    padding: 1em
    box-sizing: border-box
    &>p
        margin: 1em 0
        font-weight: 500
    &.uncommit
        opacity: 0.3
    &.failed
        opacity: 0.3
        background: lighten(#f00,35);
        *
            color: darkred !important;
        
.doneCourse
    h2
        font-size: 1.5rem
        letter-spacing: 0.15em
    ul
        margin-left: 2%
    .cardCraft li
        &:not(.course)>p
            margin: 1em 0
            font-weight: 500
        &.course
            margin-left: 2%
        &.course
            display: flex
            justify-content: space-between
            text-align: center 
            .courseID
                color: #a0a0a0
                min-width: 4em
                flex: 1
            .courseName
                text-align: left
                letter-spacing: 0.15em
                flex: 3
            .point
                min-width: 3em
                flex: 1
            .score
                min-width: 7em
                flex: 1
    .totalPoint
        text-align: right
        font-size: 1.2em
        letter-spacing: 0.15em

@media(max-width: 600px)
    .doneCourse p.score
        display: none